<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=750, user-scalable=no" />
    <link rel="stylesheet" type="text/css" type="stylesheet" href="styles.css?a">
    <script src="vendor/phaser.js"></script>
    <script src="vendor/vue.min.js"></script>
    <script src="vendor/nanoajax.min.js"></script>
</head>
<body>
<div id="output"></div>
<div id="game-gui">
</div> 
<script type="template" id="gui-template">
<div id="game-gui-output" class="game-gui-layer">
    <div class="container" :style="'position: absolute;top: '+(style.top)+'px; right: ' + (-style.width -style.left) + 'px;' ">
        <div v-if="homeScreen" class="layer" :style="'width: ' + style.width + 'px;height: '+style.height+'px' ">
            <div class="full" style="position:relative; background:url(assets/home-screen.png); background-size: cover;">
                <div class="home-screen-wrapper" :style="'padding-top: '+style.height*0.45+'px;text-align: center;'">
                    <div class="big-row button-with-label">
                        <div class="icon-button" @click="start">
                            <img src="assets/abejita-1.png" style="height: 50px;">
                        </div>
                        <div class="game-gui-label label-width" @click="start">
                            New Game
                        </div>
                    </div>
                </div>
                <div class="home-description" style="text-align: center; position: absolute; bottom: 0px; padding: 15px 50px; font-size: 28px; background: #ffffff99; margin-top: 100px;">
                    Bees fighting against transgenic plants and pesticides, surviving the distopic present. <div style="font-size: 40px;">Pollinate the world!</div>
                </div>
            </div>
        </div>
        <div v-if="!showContent & !gameOver" @click="showContent = !showContent" class="menu layer">
            <div class="icon-button">
                <img src="assets/gui/barsHorizontal.png">
            </div>
        </div>
        <div v-if="showContent & !gameOver" class="menu-content settings layer" :style="'background: #444444DD; width: ' + style.width + 'px;height: '+style.height+'px' ">
            <div class="menu-content-wrapper">
                <div class="icon-button close-button" @click="showContent = false">
                    <img src="assets/gui/cross.png">
                </div>
                <div class="row-separator"></div>
                <div class="settings-row">
                    <div class="icon-button">
                        <img src="assets/gui/audioOn.png">
                    </div>
                    <div class="slidecontainer">
                        <input type="range" min="0" max="10" value="5" v-model="allVolume" class="slider" id="audio-slider">
                    </div>
                </div>
                <div class="settings-row">
                    <div class="icon-button">
                        <img src="assets/gui/musicOn.png">
                    </div>
                    <div class="slidecontainer">
                        <input type="range" min="0" max="10" v-model="musicVolume" class="slider" id="music-slider">
                    </div>
                </div>
                <div class="about" :style="'height: '+(style.height/2)+'px' ">
                    <h2>In Extinction</h2>
                    <small><b>EscapeTeamGame &copy; 2019</b></small>
                    <p>
                    Bees fighting against transgenic plants and pesticides, surviving the distopic present. Pollinate the world!
                    </p>
                    <h2>Credits</h2>
                    Programming and game design by <a target="_blank" href="http://guilles.website">Guillermo Ambrosio</a>. <br>
                    Graphic design and visual arts by Armando Guevara. <br>
                    Sounds and game design by Lorena Quiroga. <br>
                    Game concept and beta testing by Matías Trapani. <br>
                    Special thanks to the Phaser3 project developers.<br>
                    GUI Icons from <a  target="_blank" href="http://www.kenney.nl">www.Kenney.nl</a> <br>
                    Music theme: <b>Flight of the Bumblebee</b> by <i>Nikolai Andreyevich Rimsky-Korsakov</i>. Performed by the US Army Band and <a  target="_blank" href="https://archive.org/details/FlightOfTheBumblebee">released under public domain</a>.
                </div>
            </div>
        </div>
        <div v-if="gameOver" class="clear-background gameover-layer" :style="'background: #444444DD; height: '+style.height+'px ; width: '+style.width+'px;'">
            <div :style="'height: 350px; background: #edcd25; padding: 2em;' ">
                <h1>GAME OVER</h1>
                <div class="big-row button-with-label">
                    <div class="icon-button" @click="restart">
                        <img src="assets/gui/return.png">
                    </div>
                    <div class="game-gui-label" @click="restart">
                        Try Again
                    </div>
                </div>
                <div v-if="scoreSendState=='error'">
                    <h3>Error: could not save the score.</h3>
                </div>

                <div v-if="scoreSendState=='sending' " class="big-row button-with-label">
                    <div class="game-gui-label" @click="restart">
                        Sending ... 
                    </div>
                </div>
                <div v-else-if="scoreSendState=='sent'" class="big-row button-with-label">
                    <div class="game-gui-label">
                        <a target="_blank" href="https://escapeteamgame.com/index.php/scores/in-extinction">Go to the Leaderboard</a>
                    </div>
                </div>
                <div v-else class="big-row editbox-with-button">
                    <input type="text" class="game-gui-input" placeholder="User Name"  id="usrinp" v-model="username" >
                    <div class="game-gui-label" @click="ss">
                        Send Score
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</script>
<script src="main.min.js"></script>
</body>
</html>
