html, body {
    height: 100%;
}
body {
    margin: 0;
    overflow: hidden;
    background: #111111;
    color: #333333;
}
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
#output {
    position: absolute;
}
#game-gui-output {
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: sans-serif;
}
#game-gui-output a {
    color: #ccff66;
}
.clear-background a {
    color: #444444 !important;
}
.game-gui-layer {
} 
.game-gui-layer .layer {
    z-index: 11;
    position: absolute;
    top: 0px;
    right: 0px;
}
.icon-button {
    display: inline-block;
    padding: 2px;
    background: #ffffffAA;
    border-radius: 5px;    
    vertical-align: middle;
}
.icon-button img {
    height: 40px;
}
.full {
    width: 100%;
    height: 100%;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #222222;
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.menu-content-wrapper {
    padding: 5%;
}
.row-separator {
    clear:both;
    height: 50px;
}
.menu-content .close-button {
    float: right;
}
.icon-button {
    display: inline-block;
}
.settings-row {
    clear: both;
    height: 50px;
    padding: 3px;
    margin-bottom: 10px;
}
.settings-row .icon-button {
    float: left;
}
.settings-row .slidecontainer {
    margin-left: 65px;
    padding-top: 15px;
}
.about {
    overflow-y: scroll;
    padding: 20px;
    border: 1px solid: #000000;
    background: black;
    color: #dddddd;
}
.gameover-layer {
    text-align: center;
}
.big-row {
    margin-top: 20px;
}
.game-gui-label {
    font-size: 29px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 0.75em;
    padding-right: 0.5em;
    background: #ffffff88;
    border-radius: 5px;
    line-height: 50px;
}
.button-with-label .label {
    font-size: 29px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 0.75em;
    padding-right: 0.5em;
    background: #ffffff88;
    border-radius: 5px;
    line-height: 58px;
}
.label-width {
    width: 40%;
}
.game-gui-input {
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: #ffffff;
    border-radius: 10px;
    line-height: 50px;
    width: 250px;
}
